h3, h4, h5 {
  max-width: 50ch;
  overflow: hidden;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #BFD3E2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container-fluid {
  background-color: #F0F8FF;
}

.well {
  background-color: #D7E6F1;
  border-color: #82A5BE;
}

.col-sm-4 {
  background-color: #F0F8FF;
}

.col-sm-12 {
  padding: 0;
}

.ride-body {
  padding-left: 5%;
}

#myAccountNav, #notifications, #logout-icon {
  float: right;
  padding-top: 8px;
  margin: 0;
}

#logoContainer {
  padding: 0;
  margin: 0;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

#logo {
  height: 50px;
  width: auto;
}

#user-page-details {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#user-page-pic {
  display: flex;
  justify-content: center;
}

#accountPic {
  width: 80%;
  height: 80%;
  max-width: 200px;
  max-height: 200px;
}

.account-info-box {
  float: right;
  font-size: 16px;
  font-style: italic;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#post-ride-modal {
  width: 75%;
}

#post-ride-body {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

#map, #ride-details {
  height: 600px;
  padding: 0;
  /*display: inline-table;*/
}

#details-header {
  margin-left: 12px;
}

#ride-details {
  background-color: #e9e9e9;
}

#group-size {
  text-align: left;
}

iframe {
    width: 99.9%;
    height: 300px;
}

.ride-detail-element {
  display: table-row;
  width: inherit;
  text-align: left;
}

div.selector-images {
  text-align: center;
}

img.ride-selector {
  width: 50%;
  height: 50%;
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  margin: 25px 15px 35px 15px;
  background: lightskyblue;
  border-radius: 20px;
}

#btnPostRide {
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: lightskyblue;
}

.detail-span {
display: inline-block;
}

.controls, .single-digit, .detail-span {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -moz-box-sizing: border-box;
  height: 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input, .detail-span {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-left: 10%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%;
}

.single-digit, .detail-span {
  width: 80%;
  margin-left: 10%;
  vertical-align: middle;
  line-height: 32px;
  height: 32px;
}

.rideDetailsInput {
  height: 30px;
  outline: 0;
  float: right;
  width: 50%;
  border-width: 0 0 1px;
  border-color: darkgray;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-container {
  z-index: 10000 !important;
}

/* Can fiddle with if you want. I think this looks alright though. */
#goButton{
  margin: 8px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
