<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Socket.io library  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!--We need to initialize the variables passed in for EJS before we load our src'd js script file -->
    <script type="text/javascript">
      var name = '<%= name %>'; //init var for main.js
      var user_id = '<%= user_id %>';
      console.log('<%= email  %> <%= lname %> <%= phone %>'); //log ejs values for debggerino
    </script>
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="topnav">
      <a id="logoContainer">
          <img id="logo" src="images/logo.png">
      </a>
      <a class="active" href="#explore">Explore</a>
      <a href="#newRide" type="button" data-toggle="modal"
          data-target="#newRideModal">New Ride</a>
      <a href="#currentRide" type="button" data-toggle="modal"
          data-target="#currentRideModal">Current Ride</a>
      <a id="notifications">
          <img src="images/bell.png">
      </a>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="images/bell.png">
        </button>
        <div class="dropdown-menu" aria-labelledby="notifications">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> -->
      <a href="#userPage" id="account" type="button" data-toggle="modal"
          data-target="#userPageModal">
          <img src="images/user.png">
      </a>
      <input type="text" placeholder="Search for a different ride..">
    </nav>
    <div class="container-fluid">

      <h1>Destination: University of Calgary</h1>

      <!-- Modal -->
      <div id="newRideModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="post-ride-modal">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Post A New Ride</h4>
            </div>
            <div class="modal-body container-fluid" id="post-ride-body">
              <div class="row">
                <div class="col-sm-4" id="ride-details">
                  <h2 id="details-header">Ride Details</h2>
                  <input class="controls" id="origin-input" placeholder="Enter an origin location"
                         type="text">

                  <input class="controls" id="destination-input" placeholder="Enter a destination location"
                         type="text">
                  <div class="selector-images" >
                    <img alt="Driver" class="ride-selector" id="imgDriver" onclick="switchSelectedRole(this.id)" src="images/car.png">
                  </div>

                  <div id="driver-form-elements">
                    <span class="detail-span" id="destinationTime"> Destination time: <input id="destinationInput" class="rideDetailsInput" type="time"></span>
                    <span class="detail-span" id="capacity"> Capacity: <input id="capInput" class="rideDetailsInput" placeholder="# of open seats" maxlength="1" pattern="\d*"
                                                                                                  size="1" type="text"></span>
                    <span class="detail-span" id="price"> Price: $ <input id="priceInput" class="rideDetailsInput" placeholder="$$$/seat" maxlength="6" pattern="\d*"
                                                                                            size="6" type="text"></span>
                  </div>

                  <button class="ride-detail-element search">Post</button>
                </div>
                <div class="col-sm-8" id="map"></div>
              </div>
              <div style="display: none">
                <div class="controls" id="mode-selector">
                  <input checked="checked" id="changemode-driving" name="type" type="radio">
                  <label for="changemode-driving">Driving</label>
                </div>
              </div>
            </div>
              <footer>
                <span>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com"
                                                                                            title="Flaticon">www.flaticon.com</a>&nbsp;</span>
                <div>Icon made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from
                  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
              </footer>
              <script async
                      defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj9Fanni2mPxM4cp3y1DAL1FqOfhY3M0M&libraries=places&callback=initMap"></script>
              <!-- Test Portion for Embedded Map -->
              <!--<iframe allowfullscreen frameborder="0" height="450" id='embeddedMap' src="" style="border:0" width="600"></iframe>-->
            </div>
          </div>

        </div>
      </div>

      <!-- Modal -->
      <div id="userPageModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="user-page-modal">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">My Account</h4>
            </div>
            <div class="modal-body container-fluid" id="user-page-body">
              <div class="row">
                <div class="col-sm-8" id="user-page-details">
                  <!-- This is where we could insert their account information  -->
                  <span class="account-info" id="user-page-email"> Email: <input class="account-info-box" type="text" name="account-info-email" value="<%= email  %>" disabled></span>
                  <span class="account-info" id="user-page-password"> Password: <input class="account-info-box" type="password" name="account-info-password" disabled value="********"></span>
                  <span class="account-info" id="user-page-fname"> First Name: <input class="account-info-box" type="text" name="account-info-fname" value="<%= name  %>"disabled></span>
                  <span class="account-info" id="user-page-lname"> Last Name: <input class="account-info-box" type="text" name="account-info-lname" value="<%= lname  %>"disabled></span>
                  <span class="account-info" id="user-page-phone"> Phone Number: <input class="account-info-box" type="tel" name="account-info-phone" value="<%= phone  %>"disabled></span>
                </div>
                <div class="col-sm-4" id="user-page-pic">
                  <img id="accountPic" src="images/passenger.png">
                </div>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><a href="#logout" type="button" data-toggle="modal"
                  data-target="#logoutModal">Logout</a></button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-default" data-toggle="modal"
                    data-target="#logoutModal">Logout</button>
            </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="logoutModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Log Out Of Account</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you wish to log out?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-default">
                <a href="/logout">Yes</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div id="currentRideModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="current-ride-modal">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Current Ride</h4>
            </div>
            <div class="modal-body container-fluid" id="current-ride-body">
              <!-- This is where we can display the current ride they are the driver of (or ride they signed up for as a passanger??)  -->
              <!-- Now will change when you create a ride. Same way first map does -->
              <div class="col-sm-4" id='testMap'>
                <div class="mr-2">
                  <h3></h3>
                  <h3></h3>
                  <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default">  <a href="#deleteRoute" type="button" data-toggle="modal"
                    data-target="#deleteRouteModal">Delete Route</a></button>
            </div>
        </div>
      </div>
      <!-- Modal -->
      <div id="deleteRouteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Route!</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete your route?</p><br>
              <p>You will have to re-create your route, and you will lose any passengers/your spot if you delete now!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <!-- Do something on confirmation  -->
              <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4" id='testMap'>
          <div class="col-sm-12 well">
            <h3>Driver: Steve, 4 star</h3>
            <h3>Departure: 10:20 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Andrea, 5 star</h3>
            <h3>Departure: 9:50 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Adam, 5 star</h3>
            <h3>Departure: 10:00 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Steve, 4 star</h3>
            <h3>Departure: 10:20 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Steve, 4 star</h3>
            <h3>Departure: 9:50 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Adam, 5 star</h3>
            <h3>Departure: 10:00 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Steve, 4 star</h3>
            <h3>Departure: 10:20 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Steve, 4 star</h3>
            <h3>Departure: 9:50 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 well">
            <h3>Driver: Adam, 5 star</h3>
            <h3>Departure: 10:00 am</h3>
            <iframe frameborder="0" style="border:0" src="loading.gif" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
